{% extends 'store/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="main-container">
    <video class="background-vid" autoplay loop>
        <source src="{% static 'images/home.mp4' %}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    {% for product in products %}
    <h3>{{product.name}}</h3>
    <img style="width: 4rem;" src="{{product.image_url}}"></img>
    <button data-product={{product.id}} data-action="add" class="update-cart" style="height: 4rem; width: 8rem;" id="submit-button">Add to Cart</button>
    {% endfor %}
</div>

{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> {% endcomment %}
{% comment %} <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script> {% endcomment %}
{% endblock %}

