{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rating-fixed.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="rating-fixed-container">
    <div class="rating-icon">
        <span class="material-symbols-rounded">home</span>
    </div>
    <div class="rating-header">Rating</div>
    <div class="rating-content">
        <div class="rating-number">4.9</div>
        <div class="rating-stars">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
    </div>
    <div class="rating-link"><a href="/reviews">Read our 62 reviews</a></div>
</div>