{% extends 'store/base.html' %}
{% load static %}
{% block title %}FAQs{% endblock %}

{% block content %}
{% include 'store/rating-fixed.html' %}

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}">

<style>
    body, html {
        font-size: 1rem;
    }
</style>

<div class="main-container">
    <div class="reviews-top">
        <div class="top-left">
            <div class="rating">
                <div class="points rating-text">4.9/5</div>
                <div class="review-stars">
                    <span class="fa fa-star star-top"></span>
                    <span class="fa fa-star star-top"></span>
                    <span class="fa fa-star star-top"></span>
                    <span class="fa fa-star star-top"></span>
                    <span class="fa fa-star star-top"></span>
                </div>
            </div>

            <div class="rating">
                <div class="percentage rating-text">100%</div>
                <div class="recommend">Would recommend to a friend</div>
            </div>

        </div>
        
        <div class="top-right">
            
            <div class="rank">
                <div class="rank-content">
                    <div class="rank-number rating-small">4.9/5</div>
                    <div class="rank-text">Build Quality</div>
                </div>

                <div class="rank-bar">
                    <div class="w3-light-grey" style="border-radius: 1rem;">
                        <div class="w3-light-green" id="bar" style="width: 98%; height:.4rem;"></div>
                    </div><br>
                </div>
            </div>
            <div class="rank">
                <div class="rank-content">
                    <div class="rank-number rating-small">4.7/5</div>
                    <div class="rank-text">Capacity (300ml)</div>
                </div>

                <div class="rank-bar">
                    <div class="w3-light-grey" style="border-radius: 1rem;">
                        <div class="w3-light-green" id="bar" style="width: 94%; height:.4rem;"></div>
                    </div><br>
                </div>
            </div>
            <div class="rank">
                <div class="rank-content">
                    <div class="rank-number rating-small">4.9/5</div>
                    <div class="rank-text">Blend Power</div>
                </div>

                <div class="rank-bar">
                    <div class="w3-light-grey" style="border-radius: 1rem;">
                        <div class="w3-light-green" id="bar" style="width: 98%; height:.4rem;"></div>
                    </div><br>
                </div>
            </div>

            <div class="rank">
                <div class="rank-content">
                    <div class="rank-number rating-small">4.7/5</div>
                    <div class="rank-text">Charging Speed</div>
                </div>

                <div class="rank-bar">
                    <div class="w3-light-grey" style="border-radius: 1rem;">
                        <div class="w3-light-green" id="bar" style="width: 94%; height:.4rem;"></div>
                    </div><br>
                </div>
            </div>
            <div class="rank">
                <div class="rank-content">
                    <div class="rank-number rating-small">5/5</div>
                    <div class="rank-text">Ease of Use</div>
                </div>

                <div class="rank-bar">
                    <div class="w3-light-grey" style="border-radius: 1rem;">
                        <div class="w3-light-green" id="bar" style="width: 100%; height:.4rem;"></div>
                    </div><br>
                </div>
            </div>
            <div class="rank">
                <div class="rank-content">
                    <div class="rank-number rating-small">5/5</div>
                    <div class="rank-text">Cleaning</div>
                </div>

                <div class="rank-bar">
                    <div class="w3-light-grey" style="border-radius: 1rem;">
                        <div class="w3-light-green" id="bar" style="width: 100%; height:.4rem;"></div>
                    </div><br>
                </div>
            </div>

        </div>
    </div>

    <div class="review-container">
        
        <div class="review-carousel">
            <div class="review-cell">
                <div class="review-top">
                    <img class="review-img" src="{% static 'images/pfp1.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Joshua Sandel</div>
                        <div class="author-date">November 20, 2022</div>
                    </div>
                </div>
                <div class="review-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="review-text">
                        Originally, I bought this product and there was a something wrong with the first product. The seller was quick to action, sending me another and giving a refund. So first and foremost for me that is a five star service.
                    </div>
                    
                </div>
            </div>
            <div class="review-cell">
                <div class="review-top">
                    <img class="review-img" src="{% static 'images/pfp2.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Mia Aferr</div>
                        <div class="author-date">March 15, 2023</div>
                    </div>
                </div>
                <div class="review-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="review-text">
                        Does exactly what described .
                    </div>
                    
                </div>
            </div>
            <div class="review-cell">
                <div class="review-top">
                    <img class="review-img" src="{% static 'images/pfp3.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Angela Mastracco</div>
                        <div class="author-date">June 12, 2023</div>
                    </div>
                </div>
                <div class="review-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="review-text">
                        The product blends very well all types of fruit but is with no battery after around 8-10 uses. The charging station ion the other hand charges SUPER quick.

                    </div>
                    
                </div>
            </div>
            <div class="review-cell">
                <div class="review-top">
                    <img class="review-img" src="{% static 'images/pfp4.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Matty Hawk</div>
                        <div class="author-date">October 28, 2022</div>
                    </div>
                </div>
                <div class="review-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="review-text">
                        Super happy its sick, I use it for my protein shakes.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-reviews-container">
        <div class="box-carousel">
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp5.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Joanna</div>
                        <div class="author-date">April 2, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        Great Portable Blender, just what I needed. Easy to charge and works well. Also received an email from Smootie with different juice recipe ideas, which was really great!
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp6.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Lisa Fray</div>
                        <div class="author-date">February 10, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        I love this blender and I use it most days for myself and my daughter. It's so quick and easy to use. I make her smoothie and then mine after. Customer service has been great too. Make sure you read the instructions properly first but any questions you have the team will get straight back to you 🤩
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp7.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Tracy Caine</div>
                        <div class="author-date">May 21, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        Made an order at 4pm and it came the next day, wasn't expecting that!
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp8.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Luciane</div>
                        <div class="author-date">March 4, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        My daughter LOVES it, she uses it every day before school.
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp9.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Daniel Bennet</div>
                        <div class="author-date">September 17, 2022</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        I got this for my son for Christmas and it was his favourite present.
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp10.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Sarah Khawaja</div>
                        <div class="author-date">April 15, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        I really love this blender and I would recommend it, it's easy to use and clean, absolute steal.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-reviews-container box-two">
        <div class="box-carousel">
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp11.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Monik Vans</div>
                        <div class="author-date">June 25, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        Perfect for traveling, I live in a little van, and this works perfectly
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp12.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Foteini</div>
                        <div class="author-date">May 7, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        Very good product, i wouldn't mind if it was slightly bigger but my husband is very happy with his gift!
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp13.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Grace</div>
                        <div class="author-date">November 27, 2022</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        I received my mini portable blender... I can't wait to use it and make my smoothies... it works so well. Thank you
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp14.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Big Mike</div>
                        <div class="author-date">March 29, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        Good portable blender. Got it for a gift
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp15.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Thomas Griffin</div>
                        <div class="author-date">January 11, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        I use for protein shakes on the go as I hate the feel of gloopy powder in my shake. It does blitz the soft fruit nicely and is easy to clean. Obviously does not have the power of nutribullit. But will suffice on the go and can be charged wherever u have a usb socket.
                    </div>
                </div>
            </div>
            <div class="box-cell">
                <div class="box-top">
                    <img class="review-img" src="{% static 'images/pfp16.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Renju Armin</div>
                        <div class="author-date">June 8, 2023</div>
                    </div>
                </div>
                <div class="box-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="box-text">
                        Like it as it is good to make a quick smoothie while travelling or going to gym
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script>
    if ( matchMedia('screen and (min-width: 600px)').matches ) {
        $('.review-carousel').flickity({
            cellAlign: 'center',
            wrapAround: true,
            prevNextButtons: false,
            imagesLoaded: true,
            pageDots: false,
            autoPlay: true
        })

        $('.box-carousel').flickity({
            cellAlign: 'left',
            wrapAround: true,
            prevNextButtons: true,
            imagesLoaded: true,
            pageDots: false,
            arrowShape: { 
                x0: 30,
                x1: 60, y1: 30,
                x2: 65, y2: 25,
                x3: 40
            }
        })
    }
    else {
        $('.review-carousel').flickity({
            cellAlign: 'center',
            wrapAround: true,
            prevNextButtons: true,
            imagesLoaded: true,
            pageDots: false,
            autoPlay: true
        })

        $('.box-carousel').flickity({
            cellAlign: 'center',
            wrapAround: true,
            prevNextButtons: false,
            imagesLoaded: true,
            pageDots: false,
            freeScroll: true,
            arrowShape: { 
                x0: 30,
                x1: 60, y1: 30,
                x2: 65, y2: 25,
                x3: 40
            }
        })
    }

</script>

{% endblock %}

