{% extends 'store/base.html' %}
{% load static %}
{% block title %}Shop{% endblock %}



{% block content %}
{% include 'store/rating-fixed.html' %}
<script src="https://kit.fontawesome.com/4305c44ad6.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="main-container">
    <div class="expandable-img">
        <img src="{% static 'images/gallery-img-1.jpg' %}" alt="">
    </div>
        <div class="product">
            <div class="product__images">
                <div class="product__slider-wrap">
                    <div class="product__slider">
                        <img
                            src="{% static 'images/gallery-img-1.jpg' %}"
                            alt=""
                            class="product__image product__image--active"
                        />
                        <img
                            src="{% static 'images/gallery-img-2.jpg' %}"
                            alt=""
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/blender_white.jpg' %}"
                            alt=""
                            id="white-img"
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/blender_pink.jpg' %}"
                            alt=""
                            id="pink-img"
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/blender_yellow.jpg' %}"
                            alt=""
                            id="yellow-img"
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/blender_black.jpg' %}"
                            alt=""
                            id="black-img"
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/gallery-img-3.jpg' %}"
                            alt=""
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/gallery-img-4.jpg' %}"
                            alt=""
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/gallery-img-5.jpg' %}"
                            alt=""
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/gallery-img-6.jpg' %}"
                            alt=""
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/gallery-img-7.jpg' %}"
                            alt=""
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/gallery-img-8.jpg' %}"
                            alt=""
                            class="product__image"
                        />
                        <img
                            src="{% static 'images/gallery-img-9.jpg' %}"
                            alt=""
                            class="product__image"
                        />
                    </div>
                </div>

                <img
                    src="{% static 'images/gallery-img-1.jpg' %}"
                    alt=""
                    class="product__main-image"
                    id="main-image"
                />
            </div>
        </div>

        <div class="mobile-product-scroll">
            <div class="amount-sold">2K+ Sold<span class="material-symbols-rounded">favorite</span></div>
            <div class="img-carousel">
                <div class="img-cell"><img src="{% static 'images/gallery-img-1.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/gallery-img-2.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/blender_white.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/blender_pink.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/blender_yellow.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/blender_black.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/gallery-img-3.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/gallery-img-4.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/gallery-img-5.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/gallery-img-6.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/gallery-img-7.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/gallery-img-8.jpg' %}"></img></div>
                <div class="img-cell"><img src="{% static 'images/gallery-img-9.jpg' %}"></img></div>
            </div>
        </div>

    
        <div class="details-container">
            <div class="product-name">Fresh Juice Portable Blender</div>

            <div class="product-reviews">
                <div class="review-stars">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="review-text">(254 Reviews)</div>
            </div>

            <div class="price-container">
                <div class="product-price">£37.99</div>
                <div class="product-prev-price">£57.99</div>
                <div class="discount-amount">
                    <span>SAVE</span> 35%
                </div>
            </div>

            <div class="tab-container">
                <div class="tab-header-container">
                    <div id="tab-one" class="tab-header active">Information</div>
                    <div id="tab-two" class="tab-header">Specifications</div>
                    <div id="tab-three" class="tab-header">What's In the Box</div>
                </div>

                <div class="tab-content tab-one active">
                    <div class="estimated-delivery-container">
                        <div class="info-icon">
                            <span class="material-symbols-rounded">airport_shuttle</span>
                        </div>
                        <div class="delivery-text">Estimated Delivery (US-CA): Apr 14 - Apr 18</div>
                    </div>
                    <div class="shipping-returns-container">
                        <div class="info-icon">
                            <span class="material-symbols-rounded">deployed_code</span>
                        </div>
                        <div class="shipping-text">Free Shipping & Returns</div>
                    </div>

                    <div class="info-container">
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">The Original Fresh Juice<span>TM</span> Bottle Blender.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Drink your fruits and vegetables.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">2-in-1 blender and bottle.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Create nutrient rich smoothie and juice anywhere.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Super easy to use and self-clean.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Safe for kids (9+ years).</div>
                        </div>
                    </div>

                </div>

                <div class="tab-content tab-two">

                    <div class="info-container">
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Temperature-resistant & dishwasher safe</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Wireless charging dock & cable (USB)</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">1400mAh battery (good for 20 blends with 3h charge)</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">BPA-Free Plastic</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Waterproof</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Lightweight: 1.1 lb (490 g)</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">304SUS stainless steel blades</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Compact Size: 8.5” x 3” (218mm x 82mm)Capacity: 350 mL</div>
                        </div>
                    </div>
                </div>

                <div class="tab-content tab-three">

                    <div class="info-container">
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Blending Vessel with Silicon Carry Handle</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Magnetic Wireless Charging Dock</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Blender Base 350ml</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">User Guide</div>
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="top-container">
                
                <div id="color-text" class="color-selected mobile-color-text">Colour: Pink</div>
                <div class="color-picker-container">
                    <label class="white">
                        <input productId={{blender_white.id}} class="item-color" type="radio" name="color" value="White">
                        <div class="circle-outer"></div>
                        <div class="layer"></div>
                        <div class="button"><span></span></div>
                    </label>
                    <label class="pink">
                        <input productId={{blender_pink.id}} class="item-color" type="radio" name="color" value="Pink">
                        <div class="circle-outer"></div>
                        <div class="layer"></div>
                        <div class="button"><span></span></div>
                    </label>
                    <label class="yellow">
                        <input productId={{blender_yellow.id}} class="item-color" type="radio" name="color" value="Yellow">
                        <div class="circle-outer"></div>
                        <div class="layer"></div>
                        <div class="button"><span></span></div>
                    </label>
                    <label class="black">
                        <input productId={{blender_black.id}} class="item-color" type="radio" name="color" value="Black">
                        <div class="circle-outer"></div>
                        <div class="layer"></div>
                        <div class="button"><span></span></div>
                    </label>
    
                    <div id="color-text" class="color-selected">Colour: Pink</div>
                </div>

                <div class="quantity-picker mobile-quantity">
                    <div class="remove-quantity quantity-change">
                        <span action="remove" class="quantity-update material-symbols-rounded">remove</span>
                    </div>
                    <div value="1" class="quantity-number">1</div>
                    <div class="add-quantity quantity-change">
                        <span action="add" class="quantity-update material-symbols-rounded">add</span>
                    </div>
                    
                </div>
            </div>

            <div class="add-cart-section">
                {% csrf_token %}
                <div class="quantity-picker">
                    <div class="remove-quantity quantity-change">
                        <span action="remove" class="quantity-update material-symbols-rounded">remove</span>
                    </div>
                    <div value="1" class="quantity-number">1</div>
                    <div class="add-quantity quantity-change">
                        <span action="add" class="quantity-update material-symbols-rounded">add</span>
                    </div>
                    
                </div>

                <span data-quantity="1" data-product="1" data-action="add" class="add-cart-btn cart__button update-cart" id="submit-button">
                    <span class="add__to-cart">Add to cart</span>
                    <span class="added">Added</span>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-blender"></i>
                </span>

                <div id="payment-request-button">
                    <!-- Stripe gpay button -->
                </div>


            </div>

            <div class="guarantee-safe">Guaranteed Safe Checkout</div>

            <div class="safe-checkout">
                <img src="{% static 'images/safe_checkout.png' %}" alt="">
            </div>

        </div>
    </div>

    <div class="faq-container mobile-product-info">
    
        <div class="questions">

            <div class="drop-down-question">
                <div class="question-heading">
                    <p class="question-text">Information</p>
                    <span class="question-icon material-symbols-rounded add active">add</span>
                    <span class="question-icon material-symbols-rounded">remove</span>
                </div>
                <div class="question-content">
                    <div class="info-container">
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">The Original Fresh Juice<span>TM</span> Bottle Blender.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Drink your fruits and vegetables.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">2-in-1 blender and bottle.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Create nutrient rich smoothie and juice anywhere.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Super easy to use and self-clean.</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Safe for kids (9+ years).</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="drop-down-question">
                <div class="question-heading">
                    <p class="question-text">Specifications</p>
                    <span class="question-icon material-symbols-rounded add active">add</span>
                    <span class="question-icon material-symbols-rounded">remove</span>
                </div>
                <div class="question-content">
                    <div class="info-container">
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Temperature-resistant & dishwasher safe</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Wireless charging dock & cable (USB)</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">1400mAh battery (good for 20 blends with 3h charge)</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">BPA-Free Plastic</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Waterproof</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Lightweight: 1.1 lb (490 g)</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">304SUS stainless steel blades</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Compact Size: 8.5” x 3” (218mm x 82mm)Capacity: 350 mL</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="drop-down-question">
                <div class="question-heading">
                    <p class="question-text">What's in the box</p>
                    <span class="question-icon material-symbols-rounded add active">add</span>
                    <span class="question-icon material-symbols-rounded">remove</span>
                </div>
                <div class="question-content">
                    <div class="info-container">
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Blending Vessel with Silicon Carry Handle</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Magnetic Wireless Charging Dock</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">Blender Base 350ml</div>
                        </div>
                        <div class="info-content">
                            <div class="info-icon"><span class="material-symbols-rounded">check_circle</span></div>
                            <div class="info-text">User Guide</div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <div class="function-container">
        <div class="function-header">
            <div class="yellow-circle"></div>
            <svg class="function-header-text" viewBox="0 0 600 50">
                <path class="wave-path" id="curve" d="M 192.2503 7.0201 C 238.7147 48.7221 360.8783 -4.8787 438.0454 41.2216" />
                <text x="25">
                <textPath class="wave-text" xlink:href="#curve">
                    Helping you function your best, everywhere.
                </textPath>
                </text>
            </svg>
        </div>

        {% comment %} <div class="function-header mobile-function">
            <div class="yellow-circle"></div>
            <svg class="function-header-text mobile-header-text" viewBox="0 0 600 50">
                <path class="wave-path" id="curve-mobile" d="M 104.5006 7.0201 C 197.4294 48.7221 441.7566 -4.8787 596.0908 41.2216" />
                <text x="25">
                <textPath class="wave-text" xlink:href="#curve-mobile">
                    Helping you function your best, everywhere.
                </textPath>
                </text>
            </svg>
        </div> {% endcomment %}

        <div class="function-header mobile-function">
            <img src="{% static 'images/function_wavy_text.png' %}" alt="Helping you function wavy text">
        </div>

        <div class="function-content">
            <div class="function-left">
                <div class="function-video">
                    <img src="{% static 'images/shop-function.gif' %}" alt="Blender in use">
                </div>
            </div>
            <div class="function-right">
                <div class="function-icons">
                    <div id="function-one" class="function-icon blades active">
                        <img class="function-img" src="{% static 'images/blades.png' %}" alt="Blender blades">
                        <div class="outer-circle"></div>
                        <div class="inner-circle"></div>
                    </div>
                    <div id="function-two" class="function-icon wifi">
                        <img class="function-img" src="{% static 'images/wifi-connection.png' %}" alt="Blender blades">
                        <div class="outer-circle"></div>
                        <div class="inner-circle"></div>
                    </div>
                    <div id="function-three" class="function-icon waterproof">
                        <img class="function-img" src="{% static 'images/waterproof.png' %}" alt="Blender blades">
                        <div class="outer-circle"></div>
                        <div class="inner-circle"></div>
                    </div>
                    <div id="function-four" class="function-icon world">
                        <span class="function-img material-symbols-rounded">language</span>
                        <div class="outer-circle"></div>
                        <div class="inner-circle"></div>
                    </div>
                    <div id="function-five" class="function-icon battery">
                        <img class="function-img" src="{% static 'images/battery.png' %}" alt="Blender blades">
                        <div class="outer-circle"></div>
                        <div class="inner-circle"></div>
                    </div>
                </div>
                <div class="function-info function-one active">
                    <div class="function-header">Powerful Blend</div>
                    <div class="function-text">
                        Quadruple-blade SUS304 stainless steel head made by food-grade
                        electrolysis technology means the Smootie blender can turn any fruit, vegetable and 
                        more into the smoothest smoothie at the quickest of speeds.
                    </div>
                    <div class="function-line"></div>
                    <div class="shop-link-ltr shop-link">
                        <a href="#shop">Get yours now!</a>
                    </div>
                </div>
                <div class="function-info function-two">
                    <div class="function-header">Wireless Charging</div>
                    <div class="function-text">
                        To start charging, simply place the Smootie blender on the charging pad. A small
                         white light will indicate its working. Smootie has a super convenient recharge time 
                         and one charge lasting for up to 15+ blends!
                    </div>
                    <div class="function-line"></div>
                    <div class="shop-link-ltr shop-link">
                        <a href="#shop">Get yours now!</a>
                    </div>
                </div>
                <div class="function-info function-three">
                    <div class="function-header">Dishwasher Safe</div>
                    <div class="function-text">
                        100% Dishwasher safe and waterproof, Smootie will allow you to pop it in 
                        the dishwasher without a fuss. Bing bang bosh! Owning a blender has never 
                        been more convenient. 
                    </div>
                    <div class="function-line"></div>
                    <div class="shop-link-ltr shop-link">
                        <a href="#shop">Get yours now!</a>
                    </div>
                </div>
                <div class="function-info function-four">
                    <div class="function-header">Perfectly Portable</div>
                    <div class="function-text">
                        Blend the perfect smoothies at breakfast, party with your girls and make frozen
                         cocktails, make chunk-free protein shakes at the gym, enjoy barista quality lattes 
                         at your desk or blend anytime and anywhere. 
                    </div>
                    <div class="function-line"></div>
                    <div class="shop-link-ltr shop-link">
                        <a href="#shop">Get yours now!</a>
                    </div>
                </div>
                <div class="function-info function-five">
                    <div class="function-header">Bountiful Battery</div>
                    <div class="function-text">
                        With a 1400mAh battery the Smootie blender can blend up to 15 times in a single charge, resulting in a perfect travel companion on any adventure. This also translates to 6 hours of charge!
                    </div>
                    <div class="function-line"></div>
                    <div class="shop-link-ltr shop-link">
                        <a href="#shop">Get yours now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vid-container function-vid-container">
        <div class="vid-title">Mini. Fast. Portable.</div>
        <div class="vid-top-text">See it in Action</div>
        <div class="vid-carousel">
            <div class="cell">
                <video src="{% static 'images/action-vid-1.mp4' %}" id="vid1"></video>
                <button type="button" class="vid-btn" id="play_button" value="vid1">
                    <span class="material-symbols-rounded">play_circle</span>
                </button>
            </div>
            <div class="cell">
                <video src="{% static 'images/action-vid-2.mp4' %}" id="vid2"></video>
                <button type="button" class="vid-btn" id="play_button" value="vid2">
                    <span class="material-symbols-rounded">play_circle</span>
                </button>
            </div>
            <div class="cell">
                <video src="{% static 'images/action-vid-3.mp4' %}" id="vid3"></video>
                <button type="button" class="vid-btn" id="play_button" value="vid3">
                    <span class="material-symbols-rounded">play_circle</span>
                </button>
            </div>
            <div class="cell">
                <video src="{% static 'images/action-vid-4.mp4' %}" id="vid4"></video>
                <button type="button" class="vid-btn" id="play_button" value="vid4">
                    <span class="material-symbols-rounded">play_circle</span>
                </button>
            </div>
            <div class="cell">
                <video src="{% static 'images/action-vid-5.mp4' %}" id="vid5"></video>
                <button type="button" class="vid-btn" id="play_button" value="vid5">
                    <span class="material-symbols-rounded">play_circle</span>
                </button>
            </div>
        </div>
    </div>

    <div class="faq-container">
        <div class="faq-text">
            <h1 class="title">FAQ</h1>
            <h2 class="title-small">Frequently Asked Questions</h2>
            <p class="helper-text">Here you can find the most asked questions about our product and service.</p>
        </div>
    
        <div class="questions">

            <div class="drop-down-question">
                <div class="question-heading">
                    <p class="question-text">When will I receive my order?</p>
                    <span class="question-icon material-symbols-rounded add active">add</span>
                    <span class="question-icon material-symbols-rounded">remove</span>
                </div>
                <div class="question-content">
                    <p class="content-text">
                        Orders are shipped directly from the Smootie Warehouse within 1-2 business days. You should receive your
                         order within 1-2 days from distribution.
                    </p>
                </div>
            </div>
    
            <div class="drop-down-question">
                <div class="question-heading">
                    <p class="question-text">How do I submit a Return?</p>
                    <span class="question-icon material-symbols-rounded add active">add</span>
                    <span class="question-icon material-symbols-rounded">remove</span>
                </div>
                <div class="question-content">
                    <p class="content-text">
                        To start a return, you can contact us at ContactSmootie@gmail.com informing us of your request. Once we've received and inspected your return,
                        you will be notified to let you know if the refund was approved or not. If approved, you'll be automatically refunded on your original
                        payment method. Note, items sent back to us without first requesting a return will not be accepted. 
                    </p>
                </div>
            </div>
    
            <div class="drop-down-question">
                <div class="question-heading">
                    <p class="question-text">How much is shipping?</p>
                    <span class="question-icon material-symbols-rounded add active">add</span>
                    <span class="question-icon material-symbols-rounded">remove</span>
                </div>
                <div class="question-content">
                    <p class="content-text">
                        Shipping is £1.99 for all orders. 
                    </p>
                </div>
            </div>
    
            <div class="drop-down-question">
                <div class="question-heading">
                    <p class="question-text">How does delivery work?</p>
                    <span class="question-icon material-symbols-rounded add active">add</span>
                    <span class="question-icon material-symbols-rounded">remove</span>
                </div>
                <div class="question-content">
                    <p class="content-text">
                        All orders are shipped and processed through Evri. You can expect your parcel within 1-2 business days 
                        from when it leaves our warehouse.
                    </p>
                    <p class="content-text">
                        When your order has been shipped, a confirmation email will be sent within 24 hours.
                    </p>
                </div>
            </div>
    
        </div>
    </div>

    <div class="review-container function-review-container">
        <div class="review-header">
            <p class="first">Why did more than 5,000 happy customers choose</p>
            <p class="second">Smootie
                <img src="{% static 'images/orange_underline.svg' %}" alt="" class="orange-underline">
            </p>
            <p class="third"> ?</p>
        </div>
        
        <div class="review-carousel">
            <div class="review-cell">
                <div class="review-top">
                    <img class="review-img" src="{% static 'images/pfp20.avif'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Karen Spiff</div>
                        <div class="author-date">November 20, 2022</div>
                    </div>
                </div>
                <div class="review-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="review-text">
                        I dropped the blender a couple of times, and it won't work anymore.
                    </div>
                    
                </div>
            </div>
            <div class="review-cell">
                <div class="review-top">
                    <img class="review-img" src="{% static 'images/pfp7.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Tracy Caine</div>
                        <div class="author-date">November 20, 2022</div>
                    </div>
                </div>
                <div class="review-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="review-text">
                        Made an order at 4pm and it came the next day, wasn't expecting that!
                    </div>
                    
                </div>
            </div>
            <div class="review-cell">
                <div class="review-top">
                    <img class="review-img" src="{% static 'images/pfp5.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Joanna</div>
                        <div class="author-date">November 20, 2022</div>
                    </div>
                </div>
                <div class="review-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="review-text">
                        Great Portable Blender, just what I needed. Easy to charge and works well.
Also received an email from Smootie with different juice recipe ideas, which was really great!

                    </div>
                    
                </div>
            </div>
            <div class="review-cell">
                <div class="review-top">
                    <img class="review-img" src="{% static 'images/pfp9.jpg'%}"></img>
                    <div class="review-author">
                        <div class="author-name">Daniel Bennet</div>
                        <div class="author-date">November 20, 2022</div>
                    </div>
                </div>
                <div class="review-bottom">
                    <div class="review-stars">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="review-text">
                        I got this for my son for Christmas and it was his favourite present.
                    </div>
                    
                </div>
            </div>  
    </div>
</div>

<div class="seen-on-container">
    <img src="{% static 'images/seen_on.jpg' %}" alt="American TV Channels">
</div>


<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script>
    // increase cart number 
    let add_cart_btn = document.querySelectorAll(".update-cart");
    let cart_quantity_icon_num = document.querySelector(".cart-quantity");
    let cart_icon = document.getElementById("cart-icon");

    add_cart_btn.forEach(function (item) {
        item.addEventListener("click", () => {
            cart_quantity_icon_num.innerText = (parseInt(cart_quantity_icon_num.innerText) + 1).toString();
            cart_icon.src = "/static/images/cart.gif";
            setTimeout(function () {
                cart_icon.src = "/static/images/cart.png";
            }, 1000);
        });
    });

    const cartButton = document.querySelectorAll(".cart__button");
    cartButton.forEach((button) => {
        button.addEventListener("click", cartClick);
    });

    function cartClick() {
        let button = this;
        button.classList.add("clicked");

        setTimeout(() => {
            button.classList.remove("clicked");
        }, 2000);
    }

    // confetti
    /*const confetti_btn = document.getElementById("submit-button");
    const canvas = document.getElementById("confetti");

    const jsConfetti = new JSConfetti();

    confetti_btn.addEventListener("click", () => {
        jsConfetti.addConfetti();
    });*/


</script>

<script src={% static 'js/shop.js' %} type="text/javascript"></script>


{% endblock %}