/* --------------- Styles for the navigation bar --------------- */

:root {
    --color-yellow: #fed233;
    --color-light-yellow: #fde152;
    --faq-yellow: #ffd234;
    --faq-grey: #fafafa;
    --faq-border: #f5f5f5;
    --faq-text: #f5f5f333333;
    --color-orange: #f4a316;
    --color-cream: #feffd7;
    --color-white: #ffffff;
    --color-grey: #faf9f6;
    --text-light: #6b6964;
    --underline-color: white;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
  }

.top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 2rem;
    text-align: center;
    background-color: white;
}

.top-text p {
    margin: 0;
    text-align: center;
    color: #6f98b1;
    font-family: "Poppins";
}

.navbar {
    top: 2rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-family: "Poppins";
    color: white;
    transition: ease all 300ms;
    min-height: 6rem;
    z-index: 1;
}

.nav-title {
    text-decoration: none;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: var(--underline-color);
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }

.title p {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.3rem;
}

.title-text {
    font-size: 1.5rem;
}

.bag {
    margin-left: auto;
}

.bag-dupe {
    margin-right: auto;
    visibility: hidden;
}

.icon {
    color: white;
}

.container {
    margin: 0;
    overflow-x: hidden;
}