/* --------------- Styles for the navigation bar --------------- */

:root {
    /* base */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #faf9f6;
    --text-light: #6b6964;
    --underline-color: white;

    /* faq */
    --color-add: #f4a216;
    --faq-grey: #fafafa;
    --faq-border: #f5f5f5;
    --faq-yellow: #f4bc16;

    /* shop */
    --color-star: #fbb03b;
    --color-discount: #100f0d;
    --color-tab-border: #7eb1d1;
    --color-pink: #ffbde7;
    --color-yellow: #ffd234;
    --color-function: rgba(255, 188, 73, .08);
    --color-add-cart: #69bef4;
    --color-add-cart-after: #5ea4cf;
    --color-review-title: #7ec6f4;

    /* cart */
    --break-color: #323232;
    --remove-color: #a60000;
    --btn-color-one: #ff3131;
    --btn-color-two: #ff914d;
    --shipping-bar-one: #e1e1e1;
    --shipping-bar-two: #ff9100;

    /* cart */
    --color-tile-background: rgba(153, 153, 153, .17);
    --color-carousel-btn: rgba(50, 50, 50, .32);

    /* footer */
    --color-background: #ffebcd;
    --color-text-light: #606060;
    --color-stop-looking: #f4a216;

    /* reviews */
    --color-green-icon: #4dbc15;

    /* checkout */
    --btn-blue: #0074d4;
    --btn-blue-hover: #3793df;

    /* Mobile Navbar */
    --nav-gradient-left: #ffad0d;
    --nav-gradient-right: #ffd12d;
    --add-cart-gradient-left: #ff8131;
    --add-cart-gradient-right: #ffe34d;

    /* Mobile reviews */
    --green-background: rgba(125, 188, 2, .19);

    font-family: "Poppins";
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.base {
    overflow-x: hidden;
}


.shop-link {
    width: 7.5rem;
    text-decoration: none;
    color: white;
    padding: 10px 0px;
    display: inline-block;
    position: relative;
}

.shop-link a {
    text-decoration: none;
    color: black;
}

.shop-link:hover {
    opacity: 1;
  }
  
.shop-link::before {
    transition: 300ms;
    height: .15rem;
    content: "";
    position: absolute;
    background-color: black;
}

.shop-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.shop-link-ltr:hover::before {
    width: 100%;
}

.top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 2rem;
    text-align: center;
    background-color: black;
}

.top-text p {
    margin: 0;
    text-align: center;
    color: var(--color-stop-looking);
    font-family: "Poppins";
}

.navbar {
    top: 2rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-family: "Poppins";
    color: white;
    transition: all 300ms ease;
    min-height: 6rem;
    background-color: var(--color-stop-looking);
    background: linear-gradient(to right, var(--nav-gradient-left) , var(--nav-gradient-right));
    z-index: 10;
}


@keyframes flash {
    from {
      background-color: white;
    }
  
    to {
      background-color: linear-gradient(to right, var(--nav-gradient-left) , var(--nav-gradient-right));
    }
}

.nav-element {
    width: 8rem;
}

.nav-title {
    text-decoration: none;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px 0px;
    display: inline-block;
    position: relative;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: var(--underline-color);
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.title p {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.3rem;
}

.title-text {
    font-size: 1.5rem;
}

.bag {
    margin-right: 15rem;
    margin-left: auto;
}

.bag-dupe {
    margin-left: 15rem;
    margin-right: auto;
    visibility: hidden;
}

.cart-icon {
    width: 2rem;
}

.icon {
    color: white;
}

.container {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    overflow: hidden;
}

/* Stars */

.fa {
    color: var(--color-yellow);
}

/* links */
a {
    color: var(--text-light);
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 600px) {

    .rating-fixed-container, .navbar, .top-text {
        display: none !important;
    }

    /* navbar */
    .mobile-nav {
        position: fixed !important;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        position: relative;
        width: 100%;
        background: linear-gradient(to right, var(--nav-gradient-left) , var(--nav-gradient-right));
        z-index: 5;
    }

    /* The sidepanel menu */
    .sidepanel {
        height: 100%; /* Specify a height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 2; /* Stay on top */
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    }

    /* The sidepanel links */
    .sidepanel .mobile-nav-link {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: .75rem;
        color: black;
        display: block;
        transition: 0.3s;
        margin-bottom: .5rem;
    }

    /* When you mouse over the navigation links, change their color */
    .sidepanel .mobile-nav-link:hover {
        color: var(--text-light);
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .sidepanel .sidenav-title {
        position: absolute;
        top: 0;
        left: 0px;
        font-size: 1.5rem;
        margin-right: 50px;
        margin-top: 1rem;
    }

    .top-link {
        margin-top: 1rem;
    }

    /* Style the button that is used to open the sidepanel */
    .openbtn, .bagbtn {
        font-size: 20px;
        cursor: pointer;
        background: transparent;
        color: white;
        padding: 20px 25px;
        border: none;
    }

    .mobile-nav-title {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .bagbtn a {
        text-decoration: none;
        color: white;
    }

    .mobile-nav-bottom {
        font-family: "Poppins";
        margin-left: 32px;
        width: 100%;
        margin-top: 10rem;
        opacity: 0;
        transition: none;
    }

    .mobile-nav-bottom.active {
        transition: all 2s ease;
        opacity: 1;
    }
    
    .mobile-nav-bottom .delivery-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    
    .mobile-nav-bottom .info-header {
        font-size: .7rem;
        font-weight: 700;
    }
    
    .mobile-nav-bottom .info-content {
        color: var(--break-color);
        font-weight: 600;
        font-size: .6rem;
        opacity: .7;
    }
    
    .mobile-nav-bottom .info-content a {
        color: var(--break-color);

    }
    
    .mobile-nav-bottom .payment-info {
        margin-top: 1rem;
    }
    
    .mobile-nav-bottom .cart-payments {
        width: fit-content;
        margin-left: -.6rem;
        margin-top: -.4rem;
    }
    
    .mobile-nav-bottom .cart-payments img {
        width: 12rem;
    }
    
    .mobile-nav-bottom .checkout-area-container {
        right: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }

    .mobile-nav-bottom .free-shipping-container {
        margin-top: 2rem;
        margin-bottom: .1rem;
        display: flex;
    }
    
    .mobile-nav-bottom .free-shipping-icon {
        display: flex;
        height: 1rem;
        margin-left: .2rem;
        cursor: pointer;
    }
    
    .mobile-nav-bottom .free-shipping-icon span {
        font-size: .4rem;
        height: 1rem;
        fill: 0;
    }
    
    .mobile-nav-bottom .free-shipping-text {
        margin-top: -.15rem;
        color: var(--break-color);
        font-size: .6rem;
    }
    
    .mobile-nav-bottom .free-shipping-text span {
        font-weight: 700;
    }
    
    .mobile-nav-bottom .subtotal {
        position: relative;
        display: flex;
        font-size: 1.1rem;
        width: 60%;
    }
    
    .mobile-nav-bottom .subtotal-amount {
        position: absolute;
        right: 0;
        font-size: .7rem;
    }

    .mobile-nav-bottom .subtotal-text {
        font-size: .7rem;
    }
    
    .mobile-nav-bottom .taxes {
        font-size: .6rem;
        color: var(--break-color);
        margin-bottom: .3rem;
    }
    
    .mobile-nav-bottom .w3-orange {
        max-width: 100%;
    }

    .mobile-nav-bottom .w3-light-grey {
        max-width: 60%;
    }
}
  