.cart-page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
    margin-bottom: 20rem;
    width: 60%;
    font-family: "Poppins";
}

.cart-heading {
    display: flex;
    flex-direction: column;
}

.cart-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heading-text {
    font-size: 4rem;
    font-weight: 800;
}

.item-count {
    margin: auto;
    font-weight: 700;
}

.cart-content {
    display: flex;
    flex-direction: column;
}

.cart-subheadings {
    margin-top: 5rem;
}

.cart-subheadings div {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
}

.product-sub {
    float: left;
}

.price-sub, .quantity-sub {
    float: right;
    margin-right: 6rem;
}

.total-sub {
    float: right;
}

.break {
    width: 100%;
    background-color: var(--break-color);
    opacity: .25;
    height: .1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item-content img {
    position: relative;
    float: left;
    width: 8rem;
}

.remove {
    display: flex;
}

.item-price, .item-quantity, .item-total {
    position: relative;
    float: right;
    font-weight: 700;
}

.item-total {
    display: flex;
}

.item-price {
    margin-right: 7rem;
}

.item-details {
    position: relative;
    float: left;
    margin-left: 3rem;
}

.subtext {
    margin-top: .5rem;
    color: var(--break-color);
    font-size: .8rem;
}

.remove {
    margin-top: 2rem;
    cursor: pointer;
}

.remove-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    text-align: center;
}

.remove span {
    color: var(--remove-color);
    margin-left: -.2rem;
}

.item-quantity {
    display: flex;
    margin-right: 7rem;
}

.quantity-number {
    margin-left: 1rem;
    margin-right: 1rem;
}

.bottom-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.delivery-info-container {
    position: absolute;
    left: 0;
}

.delivery-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.info-header {
    font-size: 1.2rem;
    font-weight: 700;
}

.info-content {
    color: var(--break-color);
    font-weight: 600;
    font-size: .7rem;
    opacity: .7;
}

.info-content a {
    color: var(--break-color);
}

.payment-info {
    margin-top: 1rem;
}

.cart-payments {
    width: fit-content;
    margin-left: -.7rem;
    margin-top: -.4rem;
}

.cart-payments img {
    width: 15rem;
}

.checkout-area-container {
    position: absolute;
    right: 0;
}




.shipping-btn {
    width: 100%;
    align-items: center;
    background-image: linear-gradient(90deg, var(--btn-color-one),var(--btn-color-two));
    border: 0;
    border-radius: .2rem;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    padding: 1rem 1rem;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    
}

.shipping-btn:active,
.shipping-btn:hover {
  outline: 0;
}

/* @media (min-width: 768px) {
  .shipping-btn {
    font-size: 24px;
    min-width: 196px;
  } */