.cart-page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
    margin-bottom: 20rem;
    width: 60%;
    font-family: "Poppins";
}

.cart-heading {
    display: flex;
    flex-direction: column;
}

.cart-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heading-text {
    font-size: 4rem;
    font-weight: 800;
}

.item-count {
    margin: auto;
    font-weight: 700;
}

.cart-content {
    display: flex;
    flex-direction: column;
}

.cart-subheadings {
    margin-top: 5rem;
}

.cart-subheadings div {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
}

.product-sub {
    float: left;
}

.price-sub, .quantity-sub {
    float: right;
    margin-right: 6rem;
}

.total-sub {
    float: right;
}

.break {
    width: 100%;
    background-color: var(--break-color);
    opacity: .25;
    height: .1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item-content img {
    position: relative;
    float: left;
    width: 8rem;
}

.remove {
    display: flex;
}

.item-price, .item-quantity, .item-total {
    position: relative;
    float: right;
    font-weight: 700;
}

.item-total {
    display: flex;
}

.item-price {
    margin-right: 7rem;
}

.item-details {
    position: relative;
    float: left;
    margin-left: 3rem;
}

.subtext {
    margin-top: .5rem;
    color: var(--break-color);
    font-size: .8rem;
}

.remove {
    margin-top: 2rem;
    cursor: pointer;
}

.remove-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    text-align: center;
}

.remove span {
    color: var(--remove-color);
    margin-left: -.2rem;
}

.item-quantity {
    display: flex;
    margin-right: 7rem;
}

.quantity-number {
    margin-left: 1rem;
    margin-right: 1rem;
}

.bottom-container {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
}

.delivery-info-container {
    position: absolute;
    left: 0;
}

.delivery-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.info-header {
    font-size: 1.5rem;
    font-weight: 700;
}

.info-content {
    color: var(--break-color);
    font-weight: 600;
    font-size: .9rem;
    opacity: .7;
}

.info-content a {
    color: var(--break-color);
}

.payment-info {
    margin-top: 1rem;
}

.cart-payments {
    width: fit-content;
    margin-left: -1rem;
    margin-top: -.4rem;
}

.cart-payments img {
    width: 20rem;
}

.checkout-area-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 25%;
}

.promo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.free-shipping-container {
    margin-top: 2rem;
    margin-bottom: .1rem;
    display: flex;
}

.free-shipping-icon {
    display: flex;
    height: 1rem;
    margin-left: .2rem;
    cursor: pointer;
}

.free-shipping-icon span {
    font-size: .9rem;
    height: 1rem;
    fill: 0;
}

.free-shipping-text {
    margin-top: -.15rem;
    color: var(--break-color);
    font-size: clamp(.5rem, .7vw, .8rem);
}

.free-shipping-text span {
    font-weight: 700;
}

.subtotal {
    position: relative;
    display: flex;
    font-size: 1.1rem;
}

.subtotal-amount {
    position: absolute;
    right: 0;
}

.taxes {
    font-size: .8rem;
    color: var(--break-color);
    margin-bottom: .3rem;
}

.shipping-btn {
    width: 100%;
    align-items: center;
    background-image: linear-gradient(90deg, var(--btn-color-one),var(--btn-color-two));
    border: 0;
    border-radius: .2rem;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    padding: .5rem 1rem;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    
}

.shipping-btn:active,
.shipping-btn:hover {
  outline: 0;
}

.w3-orange {
    max-width: 100%;
}

.btn-checkout {
    text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 9rem;
    background-color: var(--break-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    height: fit-content;
    font-size: .6rem;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -4.5rem;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

@media only screen and (max-width: 600px) {

    .cart-page {
        margin: 0;
        padding-top: 5rem;
        height: 100%;
        width: 100%;
    }

    .cart-content {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .heading-text {
        font-size: clamp(2rem, 2vw, 3rem);
        font-weight: 500;
        margin-top: 5rem;
    }

    .item-count {
        font-weight: 500;
        margin-top: .5rem;
    }

    .total-sub, .quantity-sub, .price-sub {
        display: none;
    }

    .product-sub {
        font-weight: 500 !important;
        font-size: 1.5rem !important;
    }

    .item-title {
        font-size: clamp(.8rem, 2vw, 1rem);
    }

    .item-color p, .stock-check {
        font-size: clamp(.7rem, 2vw, .9rem);
    }

    .remove span {
        font-size: 1.5rem;
    }

    .remove-text {
        font-size: clamp(.8rem, 2vw, 1rem);
    }

    .item-content {
        height: 10rem;
        position: relative;
    }

    .item-total {
        display: none;
    }
    
    .item-quantity {
        margin-right: 0;
        order: 2;
        font-weight: 500;
        border: 1px solid rgba(0, 0, 0, .5);
        gap: .5rem;
        padding: .1rem;
    }

    .item-price {
        margin-right: 0;
        font-weight: 500;
        order: 1;
        margin-bottom: .5rem;
    }

    .right-cart {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .bottom-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .delivery-info-container {
        position: relative;
        order: 2;
        margin-top: 3rem;
        width: 100%;
    }

    .checkout-area-container {
        position: relative;
        order: 1;
        width: 100%;
    }

    .mobile-footer {
        margin-top: 25rem;
    }

    .tooltip {
        display: none;
    }
}