

.main-container{
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.faq-text {
    max-width: 45rem;
}

.faq-text .title {
    margin-top: 5rem;
    font-size: 3rem;
}

.faq-text .title-small {
    font-weight: 600;
}

.faq-text .helper-text {
    color: var(--text-light);
    font-size: 1.2rem;
    font-weight: 400;
}

.questions {
    max-width: 52rem;
    margin-top: 1rem;
}

.drop-down-question {
    margin-left: 1rem;
}

.header-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-info span {
    font-size: 4rem;
    margin-left: .5rem;
    font-weight: 200;
    margin-bottom: .5rem;
}

.about-product span {
    font-size: 3rem !important;
    margin-bottom: 0;
}

.question-header-text {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: .5rem;
}

.question-heading {
    width: 50rem;
    position: relative;
    margin-top: .4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--faq-grey);
    border: .1rem solid var(--faq-border);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--faq-text);
    cursor: pointer;
    transition: ease all 300ms;
}

.question-heading:hover {
    background: var(--color-background);
}

.add {
    opacity: 0%;
}

.question-icon {
    transition: 300ms;
    position: absolute;
    margin-left: 1rem;
    font-weight: 600;
    right: 2rem;
    color: var(--color-add);
}

.question-icon.active {
    opacity: 100%;
}

.question-text {
    margin-left: 1rem;
}

.question-content {
    border-left: .3rem solid var(--color-add);
    max-width: 46rem;
    overflow: hidden;
    max-height: 0;
	transition: all ease 600ms;
    margin-left: auto;
    margin-right: auto;
}

.question-content.active {
    max-height: 20rem;
    overflow: hidden;
}

.content-text {
    font-weight: 300;
    color: var(--text-light);
    margin: 2rem;
    text-align: left;
}

.faq-contact-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-contact-icon span, .faq-info-section span {
    color: var(--faq-yellow);
    font-size: 3rem;
}

.faq-contact-header {
    font-size: 1.8rem;
    font-weight: 700;
}

.faq-contact-text {
    margin-top: .5rem;
    color: var(--break-color);
}

.faq-contact-btn {
    margin-top: 1rem;
    padding: .5rem 3rem;
    border: solid .2rem var(--faq-yellow);
    background: transparent;
    border-radius: .5rem;
    color: var(--faq-yellow);
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease;
}

.faq-contact-btn:hover {
    background-color: var(--faq-yellow);
    color: white;
}

.faq-info-container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.faq-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.faq-info-header {
    font-size: .9rem;
    font-weight: 600;
}

.faq-info-text {
    margin-top: .5rem;
    font-size: .8rem;
}

@media only screen and (max-width: 600px) {

    .drop-down-question {
       width: 80%;
       margin: auto;
    }

    .question-heading {
        width: 100%;
    }

    .helper-text {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .faq-info-container {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 5rem;
        gap: 1rem;
    }

    .faq-info-section span {
        font-size: 2rem;
    }

    .faq-info-section {
        width: 100%;
    }

    .faq-info-header {
        font-size: .6rem;
    }

    .faq-info-text {
        font-size: .6rem;
    }

    .question-text {
        font-size: .8rem;
    }

    .question-header-text {
        font-size: 1rem;
    }

    .header-info span {
        font-size: 3rem !important;
    }

    .about-product span {
        font-size: 2rem !important;
    }

    .faq-contact-text {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}