:root {
    --gap: 2rem;
    --duration: 20s;
    --scroll-start: 2rem;
    --scroll-end: -100%;

    --color-lime: rgb(184, 241, 89);

    font-family: "Poppins";
}

.background-vid {
    top: 0;
    margin-top: 0;
    width: 100vw;
    z-index: -1;
}
/* ---------- Moving Banners ---------- */

.banner-container {
    max-width: 100%;
    height: 20rem;
    margin-top: -1%;
}

.banner {
    margin-left: -1rem;
    width: 120%;
    display: flex;
    gap: var(--gap);
}

.inner-banner {
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   min-width: 100%;
}

.inner-front {
    animation: moving-front var(--duration) linear infinite;
}

.inner-back {
    animation: moving-front var(--duration) linear infinite;
    animation-direction: reverse;
}

.banner-front {
    background-color: white;
    transform: rotate(-3deg);
    margin-top: -4.5%;
}

.banner-back {
    background-color: fdf4e5;
    transform: rotate(3deg);
}


.banner-img {
    width: 4rem;
    margin: clamp(.4rem, .5%, 1rem);
    filter: grayscale(1%);
}

/* ---------- Videos ---------- */

.vid-container {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 85rem;
    height: fit-content;
    text-align: center;
}

.vid-title {
    font-size: 2rem;
    font-weight: 600;
}

.vid-top-text {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.vid-carousel {
    height: fit-content;
}

.cell {
    cursor: pointer;
    width: 25%;
    height: fit-content;
}

.cell video {
    width: 20rem;
    object-fit: cover;
}

.flickity-button {
    background: black;
}

.flickity-button:hover {
    background: black;
}

.flickity-button-icon {
    fill: white;
}

.flickity-prev-next-button {
    width: 2rem;
    height: 2rem;
}

.flickity-prev-next-button.previous {
    left: -40px;
}

.flickity-prev-next-button.next {
    right: -40px;
}

/* ---------- Circle Infos ---------- */

.circle-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.circle-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(15rem, 22rem, 22rem);
    height: clamp(15rem, 22rem, 22rem);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
}

.circle-element.blue {
    background-image: url("../images/circle_blue.svg");
}

.circle-element.pink {
    background-image: url("../images/circle_pink.svg");
}

.circle-info-icon {
    margin-bottom: 1rem;
}

.circle-info-icon span {
    font-size: 3rem;
}

.circle-info-title {
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: .5rem;
}

.circle-info-content {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    font-size: .7rem;
}

/* ---------- First Info Section ---------- */

.info-one-container {
    margin-top: 15rem;
    width: 100%;
    background-color: #eaf7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28rem;
}

.info-one-img img {
    max-width: 32rem;
}

.info-one-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 5rem;
    max-width: 32rem;
}

.one-top-text {
    color: black;
}

.one-title {
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

.one-content {
    color: #666666;
}

.one-link {
    margin-top: 1rem;
}

.shop-link a {
    text-decoration: none;
    color: black;
}

/* ---------- Info banner ---------- */

.info-banner-container {
    position: relative;
    width: 100%;
    height: 26rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-banner-img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.banner-title {
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.banner-text {
    width: 35.5%;
    font-size: clamp(.5rem, .5rem + .5vw, 1rem);
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
}

/* ---------- Seen On ---------- */

.seen-on-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.seen-on-container img {
    width: 40rem;
}

/* ---------- Endless Grid ---------- */

.endless-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.endless-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    font: "Poppins";
    font-size: 2rem;
    font-weight: 700;
}

.second {
    color: var(--color-lime);
}

.lime-underline img {
    position: relative;
    margin-top: -4rem;
    width: 8rem;
}

.img-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 60%;
}

.imgs-first, .imgs-last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 31.5%;
}

.imgs-first img, .imgs-last img {
    width: 100%;
}

.imgs-scroll {
    width: 42%;
}

.img-carousel {
    width: 100%;
}

.img-cell {
    width: 100%;
    height: fit-content;
}

.img-cell img {
    width: 100%;
    object-fit: cover;
}

.endless-section {
    margin-bottom: 10rem;
}

/* ---------- Animation ---------- */

@keyframes moving-front {
    from {
        transform: translateX(var(--scroll-start));
    }
    to {
        transform: translateX(var(--scroll-end));
    }
}

@keyframes moving-back {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* ---------- Media Queries ---------- */
/* 
@media only screen and (max-width: 2100px) {
    .banner-container {
        margin-top: 48%;
    }

    .banner-front {
        margin-top: -5%;
    }
  } */