
* {
  font-family: "Poppins";
  box-sizing: content-box;
}


html, body {
  font-size: 100%;
}

.reviews-top {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.top-left, .top-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.top-right {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50rem;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    width: 20rem;
}

.rating-text {
    font-weight: 700;
    font-size: 1.8rem;
}

.rating-small {
    font-weight: 700;
    font-size: .9rem;
}

.star-top {
    font-size: 2rem;
}

.rank {
    width: 13rem;
}

.rank-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem;
}

.rank-text {
    font-size: .9rem;
}

.rank-bar {
    height: .7rem;
}

.percentage {
    font-weight: 700;
}

.review-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
}

.review-cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 33%;
  gap: 0rem;
  height: fit-content;
}

.review-container .flickity-prev-next-button {
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.review-container .flickity-prev-next-button.previous {
  left: -1.2rem !important;
}

.review-container .flickity-prev-next-button.next {
  right: -1.2rem !important;
}

.review-top {
  margin-left: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.author-name {
  font-weight: 700;
}

.author-date {
  color: var(--text-light);
  font-size: .7rem;
}

.review-img {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 100%;
}

.review-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: .7rem;
  text-align: center;
}

.author-name, .author-date, .review-stars{
  transition: font-size 300ms ease;
}

.review-text {
  font-size: .8rem;
}

.box-reviews-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
  margin-bottom: 1%;
}

.box-cell {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 23.5%;
  gap: 1rem;
  height: 22rem;
  background: var(--box-background-color);
  border-radius: 1rem;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1rem;
}

.box-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.box-bottom {
  position: relative;
  left: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: .7rem;
}

.box-text {
  text-align: left;
}

.box-two {
  margin-bottom: 10rem;
}

.box-reviews-container .flickity-button {
  background: var(--color-carousel-btn) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.box-reviews-container .flickity-button-icon {
  fill: white !important;
}

.box-reviews-container .flickity-prev-next-button {
  width: 2rem !important;
  height: 2.2rem !important;
}

.box-reviews-container .flickity-prev-next-button.previous {
  left: -1.5rem !important;
}

.box-reviews-container .flickity-prev-next-button.next {
  right: -1.5rem !important;
}

@media only screen and (max-width: 600px) {

  body {
    margin: 0;
    height: 100vh;
  }

  .reviews-top {
    margin: 0;
    padding-top: 5rem;
    margin-top: 2rem;
    flex-direction: column;
  }

  .top-left {
    margin-bottom: 2rem;
  }

  .top-right {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--green-background);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .rank-number, .rank-text {
    font-size: clamp(.4rem, 5vw, .5rem);
  }

  .rating {
    margin: 0;
  }

  .rank {
    width: 8rem;
  }

  .review-container {
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .review-cell {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .review-text {
    font-size: clamp(.6rem, 2vw, 1rem);
  }

  .box-reviews-container {
    width: 100%;
  }

  .box-cell {
    width: 45%;
    aspect-ratio: 1 / 1;
    gap: 0;
    border-radius: .25rem;
    height: fit-content;
  }

  .box-cell .review-img {
    width: 2.3rem;
    height: 2.3rem;
    aspect-ratio: 1 / 1;
  }

  .box-cell .review-stars span {
    font-size: .8rem;
  }

  .box-cell .box-bottom {
    gap: 0;
  }

  .box-cell .author-name {
    font-size: .95rem;
  }

  .box-cell .author-date {
    font-size: .65rem;
  }

  .box-text {
    font-size: clamp(.7rem, 2.5vw, 1.2rem);
  }

  .box-two {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

}