.main-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product {
  height: 20rem;
  margin-top: 10rem;
  margin-right: 3rem;
}

.product__images {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__main-image {
  width: 25rem;
  object-fit: cover;
  cursor: pointer;
}

.product__slider-wrap {
  max-width: 500px;
  min-height: 100px;
  display: flex;
  align-items: center;

}

.product__slider {
  width: 100%;
  display: flex;
  max-height: 25rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.product__image {
  width: 5rem;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.5;
  margin: 0.25rem;
}

.product__image:last-child {
  margin-right: 0;
}

.product__image:hover {
  opacity: 1;
}

.product__image--active {
  opacity: 1;
}

.product__slider::-webkit-scrollbar{
  display: none;
}

/* ---------- Product Details 1 ---------- */
.tab-one {
  display: none;
}

.tab-one.active {
  display: block;
}

.details-container {
  font-family: "Poppins";
  margin-top: 0;
}

.product-name {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
}

.product-reviews {
  display: flex;
  gap: 1rem;
}

.fa {
  color: var(--color-star);
}

.review-text {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8rem;
}

.price-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 700;
}

.product-prev-price {
  text-decoration: line-through;
  font-size: 0.9rem;
  color: var(--color-discount);
  opacity: 0.49;
}

.discount-amount {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.1rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 2rem;
}

.discount-amount span {
  font-weight: 700;
}

.tab-container {
  margin-top: 2rem;
}

.tab-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-bottom: solid rgba(16, 15, 13, 0.28) 0.1rem;
}

.tab-header {
  position: relative;
  font-weight: 700;
  font-size: 0.7rem;
  width: 10rem;
  text-align: center;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.tab-header:after {
  position: absolute;
  content: "";
  background-color: transparent;
  height: 0.2rem;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -0.3rem;
}

.tab-header.active:after {
  background-color: var(--color-tab-border);
}

.estimated-delivery-container {
  margin-top: 1.5rem;
}

.estimated-delivery-container, .shipping-returns-container, .info-content {
  display: flex;
  justify-content: flex-start;
}

.shipping-returns-container {
  margin-top: 0.5rem;
}

.delivery-text, .shipping-text {
  color: var(--break-color);
}

.info-container {
  margin-top: 2rem;
}

.info-content {
  margin-top: 0.5rem;
}

.info-icon {
  margin-right: 0.5rem;
  color: var(--break-color);
}

.info-text {
  margin-left: 1rem;
  color: var(--break-color);
}

/* ---------- Product Details 2 ---------- */
.tab-two {
  display: none;
}

.tab-two.active {
  display: block;
}

/* ---------- Product Details 3 ---------- */
.tab-three {
  display: none;
}

.tab-three.active {
  display: block;
}

/* ---------- Color Picker ---------- */
.color-picker-container {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-color {
  display: none;
}

.button {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.button span {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #eeeeee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: ease 0.3s;
}

.button span:hover {
  padding: .35rem;
}

.white .button span {
  background: var(--color-white);
}

.pink .button span {
  background: var(--color-pink);
}

.yellow .button span {
  background: var(--color-yellow);
}

.black .button span {
  background: var(--color-black);
}

.layer {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: -1;
}

.color-selected {
  margin-left: 1rem;
}

/* ---------- Add to cart section ---------- */

.add-cart-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.quantity-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 24px;
}

.quantity-number {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.quantity-change {
  color: black;
  height: fit-content;
  cursor: pointer;
}

/* button.add-cart-btn {
  margin-left: 3rem;
  background-color: var(--color-add-cart);
  color: var(--color-white);
  padding: .8rem 8rem;
  border: none;
  outline: none;
  font-size: 1.3rem;
  cursor: pointer;
} */

.safe-checkout {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.safe-checkout img {
  width: 60%;
}

/* ---------- Function Section ---------- */

.function-container {
  background-color: var(--color-function);
  padding-bottom: 5rem;
}

.function-header {
  position: relative;
}

.wave-text {
  font-size: .5rem;
  
}
.wave-path {
  fill: transparent;
}

text {
  fill: black;
  font-family: "Poppins";
}

.yellow-circle {
  position: absolute;
  background-color: #f2f9a1;
  width: 5rem;
  height: 5rem;
  z-index: -1;

  border-radius: 100%;

  top: 2rem;
  right: 60%;
  margin: 0;
}

.function-content {
  display: flex;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.function-left {
  margin-left: auto;
  margin-right: auto;
}

.function-right {
  margin-left: 4rem;
  width: 100%;
}

.function-icons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.function-icon img, .function-icon span {
  width: 3rem;
  font-size: 3rem;
  color: black;
  font-weight: 300;
}

.function-icon {
  padding: 1rem 1rem;
  position: relative;
  border-radius: 100%;
  transition: all 300ms ease;
  cursor: pointer;
}

.function-img {
  position: relative;
  z-index: 1;
}

.inner-circle {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 0;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  background: white;
  border-radius: 100%;
  transition: all 300ms ease;
  /* var(--color-tab-border); */
}

.function-icon:hover .inner-circle {
  width: 95%;
  height: 95%;

}

.outer-circle {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 0;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  background: var(--color-tab-border);
  border-radius: 100%;
  transition: all 300ms ease;
  /* var(--color-tab-border); */
}

.function-icon:hover .outer-circle {
  width: 100%;
  height: 100%;

}

.function-icon.active .outer-circle {
  width: 100%;
  height: 100%;
}

.function-icon.active .inner-circle {
  width: 95%;
  height: 95%;

}

.function-info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins";
}

.function-header {
  font-weight: 700;
  font-size: 1rem;
  margin-top: 7rem;
}

.function-text {
  font-size: .8rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.function-line {
  margin-top: 1rem;
  height: .2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-add);
}

/* ---------- Videos ---------- */

.vid-container {
  margin-top: 5rem;
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 85rem;
  height: fit-content;
  text-align: center;
}

.vid-title {
  font-size: 2rem;
  font-weight: 600;
}

.vid-top-text {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.cell {
  width: 25%;
  height: fit-content;
  cursor: pointer;
}

.cell video {
  width: 20rem;
  object-fit: cover;
}

.flickity-button {
  background: black;
}

.flickity-button:hover {
  background: black;
}

.flickity-button-icon {
  fill: white;
}

.flickity-prev-next-button {
  width: 2rem;
  height: 2rem;
}

.flickity-prev-next-button.previous {
  left: -40px;
}

.flickity-prev-next-button.next {
  right: -40px;
}

/* ---------- FAQ Container ---------- */

.faq-container {
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.faq-text {
  max-width: 45rem;
}

.faq-text .title {
  margin-top: 1rem;
  font-size: 3rem;
}

.faq-text .title-small {
  font-weight: 600;
}

.faq-text .helper-text {
  color: var(--text-light);
  font-size: 1.2rem;
  font-weight: 400;
}

.questions {
  max-width: 52rem;
  margin-top: 1rem;
}

.drop-down-question {
  margin-left: 1rem;
}

.question-heading {
  width: 50rem;
  position: relative;
  margin-top: .4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--faq-grey);
  border: .1rem solid var(--faq-border);
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--faq-text);
  cursor: pointer;
  transition: ease all 300ms;
}

.question-heading:hover {
  background: var(--color-background);
}

.add {
  opacity: 0%;
}

.question-icon {
  transition: 300ms;
  position: absolute;
  margin-left: 1rem;
  font-weight: 600;
  right: 2rem;
  color: var(--color-add);
}

.question-icon.active {
  opacity: 100%;
}

.question-text {
  margin-left: 1rem;
}

.question-content {
  border-left: .3rem solid var(--color-add);
  max-width: 46rem;
  overflow: hidden;
  max-height: 0;
transition: all ease 600ms;
  margin-left: auto;
  margin-right: auto;
}

.question-content.active {
  max-height: 20rem;
  overflow: hidden;
}

.content-text {
  font-weight: 300;
  color: var(--text-light);
  margin: 2rem;
  text-align: left;
}

/* ---------- Review Section ---------- */

.review-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

.review-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  font: "Poppins";
  font-size: 2rem;
}

.second {
  position: relative;
  color: var(--color-star);
  font-weight: 700;
}

.orange-underline {
  left: 0;
  bottom: -1.2rem;
  position: absolute;
  width: 8rem;
}

.review-cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  padding: 5rem;
  gap: 1rem;
  height: fit-content;
}

.review-top {
  margin-left: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.author-name {
  font-weight: 700;
}

.author-date {
  color: var(--text-light);
  font-size: .7rem;
}

.review-img {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 100%;
}

.review-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: .7rem;
  text-align: center;
}

.author-name, .author-date, .review-stars{
  transition: font-size 300ms ease;
}

.review-cell.is-selected {
  margin-top: -2rem;
}

.review-cell.is-selected .review-top .review-img {
  width: 6rem;
  height: 6rem;
}

.review-cell.is-selected .review-top .review-author {
  font-size: 2rem;
}

.review-cell.is-selected .review-top .review-author .author-date {
  font-size: 1rem;
}

.review-cell.is-selected .review-bottom .review-text {
  font-size: 1rem;
  width: 130%;
}

.review-cell.is-selected .review-bottom .review-stars {
  font-size: 1.5rem;
}


.cart__button {
  position: relative;
  width: 22rem;
  margin-left: 3rem;
  height: 3.5rem;
  background-color: var(--color-add-cart);
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.cart__button:hover {
  background-color: var(--color-add-cart-after);
}

.cart__button:active {
  transform: scale(0.9);
}

.cart__button .fa-cart-shopping {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
}

.cart__button .fa-blender {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  font-size: 0.875rem;
  transform: translate(-50%, -50%);
}

.cart__button span {
  position: absolute;
  left: 50%;
  z-index: 3;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cart__button span.add__to-cart {
  opacity: 1;
}

.cart__button span.added {
  opacity: 0;
}

.cart__button.clicked .fa-cart-shopping {
  animation: cart 1.5s ease-in-out forwards;
}

.cart__button.clicked .fa-blender {
  animation: box 1.5s ease-in-out forwards;
}

.cart__button.clicked span.add__to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}

.cart__button.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }

  40%,
  60% {
    left: 50%;
  }

  100% {
    left: 110%;
  }
}

@keyframes box {
  0%,
  40% {
    top: -20%;
  }

  60% {
    top: 40%;
    left: 52%;
  }

  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }

  20%,
  100% {
    opacity: 0;
  }
}

@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}