/* --------------- Styles for the main content --------------- */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80rem;
    min-height: 60rem;
    margin-top: 10rem;
    gap: 1rem;
    z-index: 2;
}

.heading {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 4vw, 4rem);
    margin-bottom: 0;
}

.text-easy {
    font-family: "Poppins";
    margin: 0;
}

.all-steps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-container {
    min-width: 80rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.vid {
    min-width: 22rem;
    margin: .5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.vid2 {
    width: 22.2rem;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 10rem;
    gap: 6rem;
    padding: 1rem;
}

.step-text {
    width: 20rem;
    height: 8rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.step-text .heading {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: 0;
}

.step-text .text {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(.8rem, 2vw, 1rem);
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 600px) {


    .all-steps {
        flex-direction: column;
    }

    .heading {
        margin: 0;
        margin-top: 8rem;
    }

    .content-container {
        margin: 0;
    }

    .vid {
        min-width: 19rem !important; 
    }

    .step-text .heading{
        font-size: 1.5rem;
    }

    .step-text .text {
        font-size: 1rem;
    }

    .vid2 {
        width: fit-content;
    }
  }